<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>App Fragments</title>
</head>
<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader" th:fragment="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Đang tải dữ liệu...</p>
        </div>
    </div>

    <div class="alert alert-warning" th:fragment="alert-warning" th:if="${messsage != null}">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span> </button>
        <h4 class="text-info"><i class="fa fa-check-circle"></i> Thông báo </h4><span th:text="${messsage}"></span>
        <span class="redirectPath" th:text="${redirectPath}" style="display: none"></span>
        <script>
            setInterval(function() {
                window.location = contextPath + $('.redirectPath').text();
            }, 2000)
        </script>
    </div>
</body>
</html>