<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
      th:fragment="default-fragment (title, styleResources, jsResources, mainContent)">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- Tell the browser to be responsive to screen width -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Favicon icon -->
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon.png">
        <title th:replace="${title}">Bảng điều khiển</title>
        <!-- Bootstrap Core CSS -->
        <link th:href="@{/assets/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
        <link th:href="@{/assets/plugins/perfect-scrollbar/dist/css/perfect-scrollbar.min.css}" rel="stylesheet">
        <!-- Custom CSS -->
        <link th:href="@{/assets/css/style.css}" rel="stylesheet">
        <!-- Dashboard 1 Page CSS -->
        <th:block th:replace="${styleResources} ?: ~{}"></th:block>
        <!-- You can change the theme colors from here -->
        <link th:href="@{/assets/css/colors/default-dark.css}" id="theme" rel="stylesheet">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <!-- ============================================================== -->
        <!-- All Jquery -->
        <!-- ============================================================== -->
        <script th:src="@{/assets/plugins/jquery/jquery.min.js}"></script>
        <meta name="ctx" th:content="${#httpServletRequest.getContextPath()}" />
        <script>
            var contextPath = $("meta[name='ctx']").attr("content") === undefined ? '' : $("meta[name='ctx']").attr("content");
        </script>
    </head>

    <body class="fix-header fix-sidebar card-no-border">
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <div class="preloader" th:replace="~{fragments/app-fragments :: preloader}"></div>
        <!-- ============================================================== -->
        <!-- Main wrapper - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <div id="main-wrapper">
            <!-- ============================================================== -->
            <!-- Topbar header - style you can find in pages.scss -->
            <!-- ============================================================== -->
            <header class="topbar">
                <nav class="navbar top-navbar navbar-expand-md navbar-light">
                    <!-- ============================================================== -->
                    <!-- Logo -->
                    <!-- ============================================================== -->
                    <div class="navbar-header">
                        <a class="navbar-brand" href="index.html">
                            <!-- Logo icon --><b>
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <img src="/assets/images/logo-icon.png" alt="homepage" class="dark-logo" />
                            <!-- Light Logo icon -->
                            <img src="/assets/images/logo-light-icon.png" alt="homepage" class="light-logo" />
                        </b>
                            <!--End Logo icon -->
                            <!-- Logo text --><span>
                            <!-- dark Logo text -->
                            <img src="/assets/images/logo-text.png" alt="homepage" class="dark-logo" />
                            <!-- Light Logo text -->
                            <img src="/assets/images/logo-light-text.png" class="light-logo" alt="homepage" /></span> </a>
                    </div>
                    <!-- ============================================================== -->
                    <!-- End Logo -->
                    <!-- ============================================================== -->
                    <div class="navbar-collapse">
                        <!-- ============================================================== -->
                        <!-- toggle and nav items -->
                        <!-- ============================================================== -->
                        <ul class="navbar-nav mr-auto">
                            <!-- This is  -->
                            <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                            <li class="nav-item"> <a class="nav-link sidebartoggler hidden-sm-down waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>

                        </ul>
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                        <ul class="navbar-nav my-lg-0">
                            <!-- ============================================================== -->
                            <!-- Comment -->
                            <!-- ============================================================== -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle waves-effect waves-dark" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="mdi mdi-message"></i>
                                    <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right mailbox animated bounceInDown">
                                    <ul>
                                        <li>
                                            <div class="drop-title">Thông báo</div>
                                        </li>
                                        <li>
                                            <div class="message-center">
                                                <!-- Message -->
                                                <a href="#">
                                                    <div class="mail-contnet">
                                                        <span style="font-size: 15px;">khanhlv5 <span style="font-size: 9px;color: gray;">20/01/2020 17:00:00</span></span>
                                                        <span class="mail-desc">Đã tạo một hợp đồng mới</span>
                                                    </div>
                                                </a>
                                                <a href="#">
                                                    <div class="mail-contnet">
                                                        <span style="font-size: 15px;">quangpm <span style="font-size: 9px;color: gray;">20/01/2020 17:00:00</span></span>
                                                        <span class="mail-desc">01/2019-HDDT đã được phê duyệt</span>
                                                    </div>
                                                </a>
                                                <a href="#">
                                                    <div class="mail-contnet">
                                                        <span style="font-size: 15px;">khanhlv5 <span style="font-size: 9px;color: gray;">20/01/2020 17:00:00</span></span>
                                                        <span class="mail-desc">01/2019-HDDT đã được thanh toán</span>
                                                    </div>
                                                </a>
                                                <a href="#">
                                                    <div class="mail-contnet">
                                                        <span style="font-size: 15px;">quangpm <span style="font-size: 9px;color: gray;">20/01/2020 17:00:00</span></span>
                                                        <span class="mail-desc">01/2019-HDDT đã được phê duyệt</span>
                                                    </div>
                                                </a>
                                                <a href="#">
                                                    <div class="mail-contnet">
                                                        <span style="font-size: 15px;">quangpm <span style="font-size: 9px;color: gray;">20/01/2020 17:00:00</span></span>
                                                        <span class="mail-desc">01/2019-HDDT đã được phê duyệt</span>
                                                    </div>
                                                </a>
                                                <!-- Message -->
                                            </div>
                                        </li>
                                        <li>
                                            <a class="nav-link text-center" href="javascript:void(0);"> <strong>Xem tất cả</strong> <i class="fa fa-angle-right"></i> </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <!-- ============================================================== -->
                            <!-- End Comment -->
                            <!-- ============================================================== -->
                            <!-- ============================================================== -->
                            <!-- Profile -->
                            <!-- ============================================================== -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle waves-effect waves-dark" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/assets/images/users/1.jpg" alt="user" class="profile-pic" /></a>
                                <div class="dropdown-menu dropdown-menu-right animated flipInY">
                                    <ul class="dropdown-user">
                                        <li>
                                            <div class="dw-user-box">
                                                <div class="u-text">
                                                    <h4 th:text="${(session.FULL_NAME)}">Administrator</h4>
                                                    <p class="text-muted" th:text="${(session.EMAIL)}">varun@gmail.com</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li role="separator" class="divider"></li>
                                        <li><a th:href="@{/user/information}"><i class="ti-user"></i> Thông tin cá nhân</a></li>
                                        <li><a th:href="@{/user/changePassword}"><i class="ti-email"></i> Đổi mật khẩu</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a th:href="@{/user/setting}"><i class="ti-settings"></i> Cấu hình</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a th:href="@{/user/logout}"><i class="fa fa-power-off"></i> Thoát</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
            <!-- ============================================================== -->
            <!-- End Topbar header -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Left Sidebar - style you can find in sidebar.scss  -->
            <!-- ============================================================== -->
            <aside class="left-sidebar">
                <!-- Sidebar scroll-->
                <div class="scroll-sidebar">
                    <!-- Sidebar navigation-->
                    <nav class="sidebar-nav">
                        <ul id="sidebarnav">
                            <li class="user-profile">
                                <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                                    <img src="/assets/images/users/profile.png" alt="user" /><span class="hide-menu">Administrator</span>
                                </a>
                                <ul aria-expanded="false" class="collapse">
                                    <li><a th:href="@{/user/information}">Thông tin cá nhân</a></li>
                                    <li><a th:href="@{/user/changePassword}">Đổi mật khẩu</a></li>
                                    <li><a th:href="@{/user/setting}">Cấu hình</a></li>
                                    <li><a th:href="@{/user/logout}">Thoát</a></li>
                                </ul>
                            </li>
                            <li class="nav-devider"></li>
                            <li class="nav-small-cap">Danh mục</li>
                            <li><a th:href="@{/}"><i class="mdi mdi-gauge"></i>Bảng điều khiển</a></li>
                            <li><a th:href="@{/company/list}"><i class="mdi mdi-compare"></i>Công ty</a></li>
                            <li><a th:href="@{/user/list}"><i class="mdi mdi-gauge"></i>Người dùng</a></li>
                            <li><a th:href="@{/category/list}"><i class="mdi mdi-file"></i>Danh mục</a></li>
                            <li><a th:href="@{/template/list}"><i class="mdi mdi-table"></i>Mẫu hợp đồng</a></li>
                            <li><a th:href="@{/contract/list}"><i class="mdi mdi-bullseye"></i>Hợp đồng</a></li>
                            <li><a th:href="@{/report/list}"><i class="mdi mdi-repeat"></i>Báo cáo</a></li>
                        </ul>
                    </nav>
                    <!-- End Sidebar navigation -->
                </div>
                <!-- End Sidebar scroll-->
            </aside>
            <!-- ============================================================== -->
            <!-- End Left Sidebar - style you can find in sidebar.scss  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Page wrapper  -->
            <!-- ============================================================== -->
            <div class="page-wrapper">
                <!-- ============================================================== -->
                <!-- Container fluid  -->
                <!-- ============================================================== -->
                <div class="container-fluid" th:insert="${mainContent} ?: ~{}">

                </div>
                <!-- ============================================================== -->
                <!-- End Container fluid  -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- footer -->
                <!-- ============================================================== -->
                <footer class="footer"> © 2019 Hệ thống quản lý hợp đồng</footer>
                <!-- ============================================================== -->
                <!-- End footer -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Page wrapper  -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Wrapper -->
        <!-- ============================================================== -->
        <!-- Bootstrap popper Core JavaScript -->
        <script th:src="@{/assets/plugins/bootstrap/js/popper.min.js}"></script>
        <script th:src="@{/assets/plugins/bootstrap/js/bootstrap.min.js}"></script>

        <script th:src="@{/assets/js/jquery.twbsPagination.js}"></script>
        <!-- slimscrollbar scrollbar JavaScript -->
        <script th:src="@{/assets/js/perfect-scrollbar.jquery.min.js}"></script>
        <!--Wave Effects -->
        <script th:src="@{/assets/js/waves.js}"></script>
        <!--Menu sidebar -->
        <script th:src="@{/assets/js/sidebarmenu.js}"></script>
        <!--Custom JavaScript -->
        <script th:src="@{/assets/js/custom.min.js}"></script>

        <script>
            $(document).ready(function () {
                var $pageSel = $('#pagination');
                if ($pageSel.length > 0) {
                    var size = $pageSel.data("size") * 1;
                    var totalRecord = $pageSel.data("total") * 1;
                    var pageNum = $pageSel.data("page") ? $pageSel.data("page") : 1;
                    var totalPage = Math.ceil(totalRecord / size);
                    var url = $pageSel.data("url");
                    if (totalRecord > 0) {
                        $pageSel.twbsPagination({
                            totalPages: totalPage,
                            visiblePages: size,
                            first: 'Đầu',
                            prev: 'Trước',
                            next: 'Tiếp',
                            last: 'Cuối',
                            startPage: pageNum,
                            onPageClick: function (event, page) {
                                var re = new RegExp("(&|\\?)page=\\d+", "g")
                                var query = location.search.replace(re, '');
                                if (page != pageNum) {
                                    window.location = url + (query == '' ? '?page=' + page : query + '&page=' + page);
                                }
                            }
                        });
                    }
                }
            });
        </script>

        <th:block th:replace="${jsResources} ?: ~{}"></th:block>
    </body>

</html>