<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/default :: default-fragment(
                                                ~{::title},
                                                ~{:: #style-resources},
                                                ~{:: #js-resources},
                                                ~{:: #main-content}
                                               )}">
<head>
    <title>Thêm mới công ty</title>
    <th:block id="style-resources"></th:block>
</head>
<body>
    <div id="main-content">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-themecolor">Thêm mới công ty</h3>
            </div>
            <div class="col-md-7 align-self-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Trang chủ</a></li>
                    <li class="breadcrumb-item"><a href="/company/list">Công ty</a></li>
                    <li class="breadcrumb-item active">Thêm mới</li>
                </ol>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-lg-12 ">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Thông tin công ty</h4>
                        <div class="alert alert-warning" th:replace="~{fragments/app-fragments :: alert-warning}"></div>
                        <form method="POST" th:action="@{/company/doSave}" th:object="${form}">
                            <input type="hidden" class="form-control"  th:field="*{companyId}" placeholder="Tên công ty">
                            <div class="form-group">
                                <label>Tên công ty</label>
                                <input type="text" class="form-control"  th:field="*{companyName}" placeholder="Tên công ty">
                            </div>

                            <div class="form-group">
                                <label>Địa chỉ</label>
                                <input type="text" class="form-control"  th:field="*{companyAddress}" placeholder="Địa chỉ">
                            </div>

                            <div class="form-group">
                                <label>Số điện thoại</label>
                                <input type="text" class="form-control"  th:field="*{companyPhone}" placeholder="Số điện thoại">
                            </div>

                            <div class="form-group">
                                <label>Email</label>
                                <input type="text" class="form-control"  th:field="*{companyEmail}" placeholder="Email">
                            </div>

                            <div class="form-group">
                                <label>Mô tả công ty</label>
                                <textarea rows="5" class="form-control"  th:field="*{companyDescription}" placeholder="Mô tả"></textarea>
                            </div>

                            <div class="form-group">
                                <label>Tình trạng</label>
                                <select class="form-control"  th:field="*{status}">
                                    <option value="1">Hoạt động</option>
                                    <option value="0">Không hoạt động</option>
                                </select>
                            </div>

                            <button type="submit" class="btn btn-success btn-rounded waves-light m-r-10">Lưu lại</button>
                            <button type="reset" class="btn btn-inverse btn-rounded waves-light">Hủy bỏ</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <th:block id="js-resources"></th:block>
</body>
</html>