<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/default :: default-fragment(
                                                ~{::title},
                                                ~{:: #style-resources},
                                                ~{:: #js-resources},
                                                ~{:: #main-content}
                                               )}">
<head>
    <title>Công ty</title>
    <th:block id="style-resources"></th:block>
</head>
<body>
    <div id="main-content">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-themecolor">Công ty</h3>
            </div>
            <div class="col-md-7 align-self-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Công ty</li>
                </ol>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-lg-12 ">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Tìm kiếm</h4>
                        <form method="GET" th:action="@{/company/list}" th:object="${form}">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Tên công ty</label>
                                        <input type="text" class="form-control" th:field="*{companyName}" placeholder="Tên công ty">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Số điện thoại</label>
                                        <input type="text" class="form-control" th:field="*{companyPhone}" placeholder="Số điện thoại">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input type="text" class="form-control" th:field="*{companyEmail}" placeholder="Email">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Tình trạng</label>
                                        <select class="form-control" th:field="*{status}">
                                            <option value="-1">Tất cả</option>
                                            <option value="1">Hoạt động</option>
                                            <option value="0">Không hoạt động</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-info btn-rounded m-t-10">Tìm kiếm</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Danh sách công ty</h4>
                        <a th:href="@{/company/add}"><button type="button" class="btn btn-info btn-rounded m-t-10 float-right">Thêm mới</button></a>
                        <div class="table-responsive">
                            <table class="table color-bordered-table muted-bordered-table m-t-30">
                                <thead>
                                    <tr>
                                        <th width="10px">STT</th>
                                        <th>Tên công ty</th>
                                        <th>Số điện thoại</th>
                                        <th>Email</th>
                                        <th>Ngày tạo</th>
                                        <th>Tình trạng</th>
                                        <th width="80px" class="text-center"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="company, row: ${companyList}">
                                        <td th:text="${row.count}"></td>
                                        <td th:text="${company.getCompanyName()}">VPBank</td>
                                        <td th:text="${company.getCompanyPhone()}">19001731</td>
                                        <td th:text="${company.getCompanyEmail()}">hotro@vpbank.com.vn</td>
                                        <td th:text="${#dates.format(company.getCreatedDate(), 'dd/MM/yyyy')}">14/01/2020</td>
                                        <td th:text="${company.getStatus() == 1 ? 'Hoạt động' : 'Không hoạt động'}">Hoạt động</td>
                                        <td class="text-center">
                                            <a data-toggle="tooltip" title="Sửa" th:href="${'/company/edit/' + company.getCompanyId()}"><i class="fas fa-edit"></i></a>
                                            <a data-toggle="tooltip" title="Xóa" onclick="return confirm('Bạn có thật sự muốn xóa bản ghi?');"
                                               th:href="${'/company/delete/' + company.getCompanyId()}"><i class="fas fa-trash"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="pagination-box">
                            <ul id="pagination" class="pagination-sm"
                                th:attr="data-total=${form.getTotalRecord()}, data-size=${form.getLimit()}, data-page=${form.getPage()}"
                                data-url="/company/list"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <th:block id="js-resources"></th:block>
</body>
</html>